* {
  font-family: Roboto;
}

html, body {
    height: 100%;
    /* background-color: red; */
    background: '#f3f4f8';
  }
  body {
    position: relative; /* 1. Position relative because of absolute child elements */
    padding: 0; /* 2. Using padding to define strech-able space */
    box-sizing: border-box; /* 3. Box sizing to subtract padding and border from the 100% height of this element when child elements define 100% height */
  }

  #root {
    height: 100%;
  }
